
.btn{
    width:450px;
height:45px;
font-size: 20px;
  border-radius:40px;
  font-weight: bolder;
  background-color: blue;
}
footer {
    background: #374147;
    color: #ccc;
    flex: 0 0 40px;
    text-align: center;
    line-height: 40px;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }